<!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">App</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Clients</a></li>
                                            <li class="breadcrumb-item active">Page</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Clients List</h4>
                                </div>
                            </div>
                        </div>
                <!-- end page title -->
                <!-- Clients-->
                    <div class="row">
                        <div class="col-12">
                            <%- include('../../includes/feedbacks') %>
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
                                    <h4 class="header-title mb-0">Clients List</h4>
                                    <button type="button" class="btn btn-success mt-2 mt-sm-0 ajaxGetStaff">Assign Client</button>
                                </div>

                                <div class="card-body">
                                    <!-- <table class="table table-striped dt-responsive nowrap w-100 datatable-buttons"> -->
                                    <table class="table table-striped dt-responsive nowrap w-100 basic-datatable">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Company</th>
                                                <th>Position</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="clientsHere">
                                            <% clients.forEach(function(client, index){%>
                                            <tr>
                                                <td><%- client.firstname %>&nbsp;<%- client.surname %></td>
                                                <td><%- client.email %></td>
                                                <td><%- client.phone %></td>
                                                <td><%- client.company %></td>
                                                <td><%- client.position %></td>
                                                <td>
                                                    <div class="d-flex flex-wrap gap-2">
                                                         <button type="button" data-id="<%- client.id %>" class="btn btn-sm btn-info ajaxClientPipelines" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="info-tooltip" data-bs-title="Pipelines Status"><i class="bi bi-info-lg"></i> </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <%}) %>
                                        </tbody>
                                    </table>

                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div> <!-- end Clients-->

                        <!-- assign ClientModal modal -->
                        <div id="assignClientModal" class="modal fade" data-bs-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="standard-modalLabel">Assign Client to Staff</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <form class="ajaxAssignClient" method="POST">
                                  <input type="hidden" name="_csrf" value="<%- csrftoken %>">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">First name</label>
                                                    <input type="text" name="firstname" class="form-control" data-provide="typeahead" id="the-basics" placeholder="E.g John" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Surname</label>
                                                    <input type="text" name="surname" class="form-control" data-provide="typeahead" id="the-basics" placeholder="E.g Doe">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Phone</label>
                                                    <input type="tel" name="phone" class="form-control" data-provide="typeahead" id="the-basics" placeholder="E.g 0719123271" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">e-mail</label>
                                                    <input type="mail" name="email" class="form-control" data-provide="typeahead" id="the-basics" placeholder="E.g john@example.com" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Company</label>
                                                    <input type="text" name="company" class="form-control" data-provide="typeahead" id="the-basics" placeholder="E.g ABC company" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Position</label>
                                                    <input type="text" name="position" class="form-control" data-provide="typeahead" id="the-basics" placeholder="E.g Business Manager" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                                                <div class="mb-3 marketingTeamHere">
                                                    
                                                </div>
                                            </div>
                                        </div> <!-- end col -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- End register modal -->

                    <!-- Success + Errors Alert Modal -->
                    <%- include('../../includes/statusModal') %>
                    <!-- Success + Errors Alert Modal -->