<!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">App</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Marketing Team</a></li>
                                            <li class="breadcrumb-item active">Page</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Marketing Team</h4>
                                </div>
                            </div>
                        </div>
                <!-- end page title -->
                <!-- Clients-->
                    <div class="row">
                        <div class="col-12">
                            <%- include('../../includes/feedbacks') %>
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
                                    <h4 class="header-title mb-0">Marketing Team</h4>
                                    <button type="button" class="btn btn-success mt-2 mt-sm-0" data-bs-toggle="modal" data-bs-target="#registerStaffModal">Add Staff</button>
                                </div>

                                <div class="card-body">
                                    <!-- <table class="table table-striped dt-responsive nowrap w-100 datatable-buttons"> -->
                                    <table class="table table-striped dt-responsive nowrap w-100 basic-datatable">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="staffHere"><% users.forEach(function(user, index) { %>
                                        <tr>
                                            <td><%- user.firstname %> <%- user.surname %></td>
                                            <td><%- user.email %></td>
                                            <td><%- user.phone %></td>
                                            <td>
                                                <% if (user.active === 'yes') { %>
                                                    <span class="badge bg-primary-subtle text-primary rounded-pill">Active</span>
                                                <% } else { %>
                                                    <span class="badge bg-danger-subtle text-danger rounded-pill">Blocked</span>
                                                <% } %>
                                            </td>
                                            <td>
                                                <div class="d-flex flex-wrap gap-2">
                                                    <button type="button" data-id="<%- user.id %>" class="btn btn-sm btn-warning ajaxGetUser" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="warning-tooltip" data-bs-title="Edit">
                                                            <i class="mdi mdi-tooltip-edit"></i>
                                                    </button>
                                                <% if (user.active === 'yes') { %>
                                                    <button type="button" data-id="<%- user.id %>" class="btn btn-sm btn-danger ajaxBlockUser" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="danger-tooltip" data-bs-title="Block Staff">
                                                            <i class="bi bi-person-lock"></i>
                                                    </button>
                                                <% } else { %>
                                                    <button type="button" data-id="<%- user.id %>" class="btn btn-sm btn-success ajaxUnBlockUser" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="success-tooltip" data-bs-title="Unblock Staff">
                                                            <i class="bi bi-person-lock"></i>
                                                    </button>
                                                <% } %>
                                                    
                                                </div>
                                            </td>
                                        </tr>
                                <% }); %>
                                        </tbody>
                                    </table>

                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div> <!-- end Clients-->

                    <!-- register team -->
                    <div id="registerStaffModal" class="modal fade" data-bs-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="standard-modalLabel">Register Staff</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <form action="/api/boss/register/staff" class="ajaxRegisterStaff" method="POST">
                                  <input type="hidden" name="_csrf" value="<%- csrftoken %>">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">First name</label>
                                                    <input type="text" name="firstname" class="form-control" data-provide="typeahead" id="the-basics" placeholder="E.g John" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Surname</label>
                                                    <input type="text" name="surname" class="form-control" data-provide="typeahead" id="the-basics" placeholder="E.g Doe">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Phone</label>
                                                    <input type="tel" name="phone" class="form-control" data-provide="typeahead" id="the-basics" placeholder="E.g 0719123271" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">e-mail</label>
                                                    <input type="mail" name="email" class="form-control" data-provide="typeahead" id="the-basics" placeholder="E.g john@example.com" required>
                                                </div>
                                            </div>
                                        </div> <!-- end col -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- End register team modal -->

                    <!-- edit staff -->
                    <div id="editStaffModal" class="modal fade" data-bs-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="standard-modalLabel">Edit Staff</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <form class="ajaxUpdateStaff" method="POST">
                                  <input type="hidden" name="_csrf" value="<%- csrftoken %>">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">First name</label>
                                                    <input type="text" name="firstname" class="form-control" data-provide="typeahead" id="the-basics" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Surname</label>
                                                    <input type="text" name="surname" class="form-control" data-provide="typeahead" id="the-basics">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Phone</label>
                                                    <input type="tel" name="phone" class="form-control" data-provide="typeahead" id="the-basics" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">e-mail</label>
                                                    <input type="mail" name="email" class="form-control" data-provide="typeahead" id="the-basics" required>
                                                </div>
                                            </div>
                                        </div> <!-- end col -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- End edit staff modal -->

                        <!-- Block staff Modal -->
                        <div id="blockStaffModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="danger-header-modalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header modal-colored-header bg-danger">
                                            <h4 class="modal-title" id="danger-header-modalLabel">Block Staff</h4>
                                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                                <h5 class="mt-0">Proceed with blocking?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <form id="blockUserForm" class="ajaxBlockStaff">
                                                <input type="hidden" name="_csrf" value="<%- csrftoken %>">
                                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger">Yes, proceed</button>
                                            </form>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                        </div>
                        <!-- end block staff modal -->

                        <!-- unBlock staff Modal -->
                        <div id="unBlockStaffModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="success-header-modalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header modal-colored-header bg-success">
                                            <h4 class="modal-title" id="success-header-modalLabel">Un-block Staff</h4>
                                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                                <h5 class="mt-0">Proceed with un-blocking?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <form id="unBlockUserForm" class="ajaxUnBlockStaff">
                                                <input type="hidden" name="_csrf" value="<%- csrftoken %>">
                                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-success">Yes, proceed</button>
                                            </form>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                        </div>
                    <!-- end unblock staff modal -->

                    <!-- Success + Errors Alert Modal -->
                    <%- include('../../includes/statusModal') %>
                    <!-- Success + Errors Alert Modal -->